.slider-slides {
  height: calc(100vh - 45px);
}

.slider-slide {
  padding-top: 80px;
  text-align: center;
}

.intro-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: calc(100% - 180px);
  ng-include {
    display: flex;
    align-items: flex-end;
    flex: 1;
  }
}

.intro-nav-buttons {
  width: 100%;
}

.intro-nav-button {
  width: 90px;
}

// .intro-slider-content {

// }

.intro-slider-text {
  @extend .padding;
  text-align: left;
}

.intro-header {
  position: relative;
}

.intro-header img {
  width: 100%;
  max-height: $intro-header-height;
  object-fit: cover;
}

.intro-header-logo {
  position: absolute;
  width: 100%;
  top: 25%;
  text-align: center;
}

.intro-header-logo img {
  width: auto;
  opacity: 1;
}
